/src/Pixsys.Library.Mail.MailManager/.build/CakeRelease/Semantic/
/src/Pixsys.Library.Mail.MailManager/.config/CakeRelease.settings.json
/src/Pixsys.Library.Mail.MailManager/.vs/
/src/Pixsys.Library.Mail.MailManager/Pixsys.Library.Mail.MailManager/bin/
/src/Pixsys.Library.Mail.MailManager/Pixsys.Library.Mail.MailManager/obj/
